<h1>Add a band here:</h1>

<form action="/bands" method="post">
  <label for="band_name">Band Name</label>
  <input id="band_name" name="band_name" class="form-control" type="text">
  <br>
  <button type="submit" class="btn btn-info">Add</button>
</form>
