<body class="welcome">
  <div class="ryan-title">
<h1 id="index">Keep up with your favorite bands</h1>
  </div>

  <div class="index">
    <div class="hot-container">
      <h3 id="index">Add and view bands to see their progress</h3>
      <a id="index" class="btn btn-info" href="/bands">Bands</a>
      <a id="index" class="btn btn-info" href="/venues">Venues</a>

    </div>
  </div>
</body>
